
body{
    color: #d0d0d0;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

canvas{
    width: 100%;
}

#controlPanel{
    display: flex;
    justify-content: space-evenly;
}

.subMenu{
    display: flex;
    flex-flow: column;
}

input, button, select{
    border: 2px solid white;
    border-radius: 0px;
    outline: none;
    background: none;
    color: white;
}

input{
    cursor: text;
}

button{
    cursor: pointer;
}

select{
    cursor: pointer;
}

button:hover{
    background: white;
    color: black;
}