.window{
    margin: 1vmin;
    overflow: hidden;
    background-color:#111;
    border-color: #223;
    border-style: solid;
    border-width: 1px;
}

.window > h2{
    margin: 0;
    font-size: 1.5vmin;
    font-weight: lighter;
    height: 3vmin;
    text-align: center;
    line-height: 3vmin; 
    background: linear-gradient(45deg, #33A 50%, #223 50%);
    background-size: 200% 200%;
    transition: all 2s ease;
    background-position: right top;
}

.window:hover > h2{
    background-position: left bottom;
}

@keyframes wipe-in-right {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes wipe-out-right {
    from {
        clip-path: inset(0 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 100%);
    }
}
.window > p{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.thumb{
    filter: drop-shadow(1px 1px 1px white) drop-shadow(-1px 1px 1px white) drop-shadow(1px -1px 1px white) drop-shadow(-1px -1px 1px white);
    --hover-time: 0;
    transition: 0.5s;
}
.thumb:hover{
    filter: drop-shadow(2px 2px 1px white) drop-shadow(-2px 2px 1px white) drop-shadow(2px -2px 1px white) drop-shadow(-2px -2px 1px white);
    --hover-time: 1;
}
.appearOnHover{
    --hover-time: inherit;
    opacity: var(--hover-time);
    transition: 0.5s;
}
.label{
    fill: #eee;
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 8px;
}

#project_menu{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    clear: none;
}
