body{
    color: #d0d0d0;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    overflow: hidden;
}

a{
    text-decoration: inherit;
    color: inherit;
}

h1{
    text-align: center;
    font-size: 3vmin;
    font-weight: bolder;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    line-height: 1em;
    margin: 0;
}

.interactive{
    pointer-events: auto;
}

.center-text{
    text-align: center;
    vertical-align: middle;
}

.center-self{
    margin-left: auto;
    margin-right: auto;
}

.back-content{
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.front-content{
    user-select: none;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}