body{
    color: #d0d0d0;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

a{
    text-decoration: inherit;
    color: inherit;
}

.top_spanner{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapper{
    background-color: #181818;
    width:100vh;
    margin: auto;
}

.separator{
    background-color: #182040;
    text-align: center;
    font-size: 25px;
}

.mid_block{
    width: 100vh;
    margin: auto;
}

.interactive{
    pointer-events: auto;
}

.center-text{
    text-align: center;
    vertical-align: middle;
}

.back-content{
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
.front-content{
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}