body{
    display: flex;
    flex-flow: column;
}

.thumb{
    stroke-width: 1;
    --hover-time: 0;
    transition: 0.5s;
}
.thumb:hover{
    stroke-width: 5;
    --hover-time: 1;
}
.appearOnHover{
    --hover-time: inherit;
    opacity: var(--hover-time);
    transition: 0.5s;
}
.label{
    fill: #eee;
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 8px;
}

.separator{
    background-color: #182040;
    text-align: center;
    font-size: 25px;
}

.wrapper{
    background-color: #181818;
    width: 100vh;
    margin: auto;
}

#project_menu{
    height: 100%;
    width: 100%;
}
