#simulation{
    background-color: #101020;
}
#back{
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
#front{
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}
#counter{
    position: absolute;
    bottom: 0px;
    font-size: 1vh;
}
.planet{
    fill:white;
    stroke-width: 0;
}