body{
    margin: 0px;
    padding: 0px;
}

#rendererDom{
    position: absolute;
    inset: 0;
}

#labelRendererDom{
    position: absolute;
    inset: 0;
}

#pathRenderer{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0px;
    right: 0px;
}

#gui{
    color: white;
    position: absolute;
    inset: 0;
}

.label{
    font-family: monospace;
    color: white;
}

input[type="range"] {
    width: 600px;
}